@model CareManagement.ViewModels.PayrollViewModel

@{
    ViewData["Title"] = "Payroll";
}

<h1>Payroll</h1>

<form asp-action="Index" method="post">
    <div class="form-group">
        <label asp-for="SelectedEmployeeId">Employee</label>
        <select asp-for="SelectedEmployeeId" asp-items="ViewBag.EmployeeId" class="form-control">       
        </select>
    </div>
    <div class="form-group">
        <label asp-for="PayPeriod">Pay Period</label>
        @Html.DropDownListFor(m => m.PayPeriod, ViewBag.TwoWeekPeriods as SelectList,  new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayedPayroll.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayedPayroll.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayedPayroll.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayedPayroll.EmployeeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayedPayroll.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayedPayroll.Overtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayedPayroll.LateDeduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayedPayroll.VacationPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayedPayroll.SickPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayedPayroll.Pretax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayedPayroll.Tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayedPayroll.CheckAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(model => model.DisplayedPayroll.Employee.FirstNameLastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.DisplayedPayroll.StartDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.DisplayedPayroll.EndDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.DisplayedPayroll.EmployeeType)
            </td>
            <td>
                @Html.DisplayFor(model => model.DisplayedPayroll.Hours)
            </td>
            <td>
                @Html.DisplayFor(model => model.DisplayedPayroll.Overtime)
            </td>
            <td>
                @Html.DisplayFor(model => model.DisplayedPayroll.LateDeduction)
            </td>
            <td>
                @Html.DisplayFor(model => model.DisplayedPayroll.VacationPay)
            </td>
            <td>
                @Html.DisplayFor(model => model.DisplayedPayroll.SickPay)
            </td>
            <td>
                @Html.DisplayFor(model => model.DisplayedPayroll.Pretax)
            </td>
            <td>
                @Html.DisplayFor(model => model.DisplayedPayroll.Tax)
            </td>
            <td>
                @Html.DisplayFor(model => model.DisplayedPayroll.CheckAmount)
            </td>
            <td>
                @if (Model != null)
                {
                    <a asp-controller="Payrolls" asp-action="Details" asp-route-id="@Model.DisplayedPayroll.PayrollID">Details</a>

                }
            </td>

        </tr>

    </tbody>
</table>
